.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.no-products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noproducts-image {
  width: 300px;
}
.no-pds-heading {
  font-family: Roboto;
  font-size: 21px;
  color: #0f172a;
}
.no-pds-para {
  font-family: Roboto;
  font-size: 16px;
  color: #475569;
}
.fa-pds-heading {
  font-family: Roboto;
  font-size: 21px;
  color: #0f172a;
}
.fa-pds-para {
  font-family: Roboto;
  font-size: 16px;
  color: #475569;
}
.failure-image {
  width: 300px;
}
.products-failure-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}